<header id="header">
  <div id="header-main" class="header-inner">
    <div class="outer">
      <span id="mobile-logo" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars mobile-menu-img">&nbsp;</i><span class="site-title"><%= config.title %></span></span>
      <a href="<%- url_for() %>" id="logo"><%- (theme.logo? '<i class="logo" style="background-image: url(' + url_for(theme.logo) + ')"></i>':'') %></a>
      <!-- Nav -->
      <nav id="main-nav">
        <ul>
          <% for (var i in theme.menu){ %>
            <% if(i != "Home") { %>
                <li class="main-nav-link">
                <a href="<%- url_for(theme.menu[i]) %>"><%= __('nav.' + i) %></a>
                <% if(i == "Categories" && site.categories.length) { %>
                    <%- list_categories(site.categories, {
                    show_count: false,
                    class: 'menu-category',
                    separator: ''
                    }) %>
                <% } %>
                </li>
            <% } %>
          <% } %>
        </ul>
      </nav>
      <% if(theme.profile) { %>
        <nav id="sub-nav">
          <div class="profile" id="profile-nav">
            <a id="profile-anchor" href="javascript:;"><img class="avatar" src="<%= ( theme.gravatar ? gravatar(theme.email) : url_for(config.avatar)) %>"><i class="fa fa-caret-down"></i></a>
          </div>
        </nav>
      <% } %>
      <div id="search-form-wrap">
        <%- search_form({button: ' ', text: '搜索'}) %>
      </div>
    </div>
  </div>
</header>
